In [10]:
word = 'Python'
word[::-1]

'nohtyP'

In [13]:
word = 'Python'

'on' in word

True

In [14]:
len('Python is fun!')

14

In [20]:
a = ','
a.join('1234')

'1,2,3,4'

In [28]:
word = 'Hello'
word[len(word)-1]

'o'

In [33]:
s1 = "python is fun"

s1.split()

['python', 'is', 'fun']

In [40]:
a = [1,2,3]
a[2]

3

In [41]:
a[1:2]

[2]

In [43]:
b= [1,'a','b','c',8]

In [46]:
b[1:4] = []

In [47]:
b

[1, 8]

In [52]:
t= [1,2,3]
a,b,c = t

In [53]:
print(a,b,c)

1 2 3

In [77]:
a = input("날짜(연/월/일)입력:")

b,c,d = a.split("/")


b10 = str(int(b)+10)
c = int(c)
d = int(d)

print("입력한 날짜의 10년 후는 %s년 %s월 %s일"%(b10,c,d))

날짜(연/월/일)입력: 2018/08/12

입력한 날짜의 10년 후는 2028년 8월 12일

In [84]:
a = input("날짜(연/월/일)입력:")

datelist = a.split("/")
date = map(int(),datelist)
print(datelist[0])
print("입력한 날짜의 10년 후는 %d년 %d월 %d일"%((datelist[0]+10),datelist[1],datelist[2]))

날짜(연/월/일)입력: 2018/08/12

2018

TypeError: can only concatenate str (not "int") to str

In [105]:
number = 1
i=1
while i <=10 :
    number *= i
    i += 1
    
print (number)

3628800

In [107]:
a = input("Input an integer:")

for i in a

listt=map (int,a)

b = '*'

for i in listt :
    print (b*i)

Input an integer: 3159

TypeError: 'str' object is not callable

In [7]:
a = input("Input an integer:")
star = '*'

for i in a :
    for j in i :
        print(star*int(j))

Input an integer: 12314153526151

*
**
***
*
****
*
*****
***
*****
**
******
*
*****
*